html {
    line-height: 1.15
}

body {
    margin: 0;
    background: #A8D8FF
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

a {
    background-color: transparent
}

.main h1 {
    font-family: Copperplate
}

.main h2 {
    font-family: Copperplate;
    font-style: oblique
}

.main p {
    font-family: Courier New
}

.main-pic {
    padding: 0;
    margin: 0
}

.content {
    background: #F2E8C9
}

.content h1 {
    text-align: center
}

.content ul {
    padding-inline-start: 0px;
    text-align: center
}

.primary-nav div {
    text-decoration: none;
    font-weight: 300;
    display: block;
    font-size: 1.2rem;
    color: black
}
