html {
    line-height: 1.15
}

.element {
    padding: 0;
    margin-bottom: 0;
}

body {
    display: table-row;
    background-color: #FFAA64;
    color: #FFF5A5
}

.picture1 {
    display: grid;
    align-content: center;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

a {
    background-color: transparent
}

.main h1 {
    font-family: Comic Sans MS
}

.main h2 {
    font-family: Comic Sans MS ;
    font-style: oblique
}

.main p {
    font-family: Tahoma
}

.main-pic {
    padding: 0;
    margin: 0
}

.content {
    background-color: #FF8264;
    padding: 5px 15px;
}

.content h1 {
    text-align: center
}

.content ul {
    padding-inline-start: 0px;
    text-align: center
}

.chapter1 {
    background-color: #FF6464;
    padding: 5px 15px
}

.primary-nav div {
    text-decoration: none;
    font-weight: 300;
    display: block;
    font-size: 1.2rem;
    color: #FFF5A5
}
